@font-face {
	font-family: "Monsterrat";
	src: url("https://keystone-games.github.io/assets/fonts/monsterrat.ttf") format("truetype");
}

body {
	background-color: #000;
	background: linear-gradient(90deg,
			#4c2a7f 0%,
			#7f2000 100%);
}

* {
	font-family: "Trebuchet MS", "Ubuntu", "Monsterrat", sans-serif;
	color: #fff;
}

a {
	color: #fff;
}

p {
	font-size: large;
}

.header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
}

.align-center {
	align-content: center;
	align-items: center;
	display: flex;
	justify-content: center;
}