# This is a basic workflow to help you get started with Actions

name: Update

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  schedule:
    - cron: '0,15,30,45 * * * *'
  push:
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  Theme:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      with:
        fetch-depth: 5
    - uses: actions/setup-node@v1
      with:
        node-version: 12.18.3
    # Runs a single command using the runners shell
    - name: Update
      run: node update.js
        
    - name: Push
      env:
        TOKEN: ${{ secrets.TOKEN }}
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git add .
        git commit -m "Update README.md"
        git push https://github-actions[bot]:${{ secrets.TOKEN }}@github.com/basiccorruption/basiccorruption.github.io.git
